body {
  background-color:  #b7b7b7;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 900px;
height: auto;
background-color: #f1f1f1;
margin: auto;
padding-left: 25px;
padding-right: 25px;
position: relative
}
section {

}
.tab1 #TR {
  padding-bottom: 100px;
}
TABLE td {
padding-left: 25px;
}
 .captionskills{
  padding-right: 200px;
  font-weight: bolder;
  color: #639AD2;
  font-size: 18px;

}
.languageskills {
  color: #639AD2
}
.persoskills {
color: #639AD2
}
.masterskills{
  position: absolute;
  top: 60;
  right: 0;
  font-size: 12px;
}
.skills2{
  padding-bottom: 20px;
  padding-top: 20px;
}
.skills2 td{
  padding-left:

}
.langue{
  text-align: left;
  padding-right: 75px;
}

#years {
  padding-bottom: 60px;
}
#years2 {
    padding-bottom: 60px;
    padding-right:40px;
}
.tab1 {
  margin-top: 45px;
  margin-right: 393px;
  margin-bottom: 100px;
}
.tab1 TD TR {
  text-align: left;

}

.tab2 {
padding-bottom: 100px;
margin-bottom: 100PX;
margin-right: 393px;
}
#avancement {
  background-color: grey;
  display:inline-block;
  position: relative;
}

progress {
padding-left: 2px;
padding-right: 4px
}
progress value {
  border-radius: 50px
}
